<nav class="menu-nav col-12 pr-0">
    <div class="d-flex justify-content-between align-items-center">
        <div class="menu-hamburger" (click)="openSideMenu()">
            <a><i class="glyphicon glyphicon-menu-hamburger"></i></a>
        </div>
        <ul class="d-none d-sm-flex align-items-center">
            <li class="menu-icons">
                <a><i class="glyphicon glyphicon-bell"></i></a>
            </li>
            <li class="menu-icons">
                <a><i class="glyphicon glyphicon-dashboard"></i></a>
            </li>
            <li class="menu-icons">
                <a><i class="glyphicon glyphicon-off"></i></a>
            </li>
            <li class="menu-icons">
                <i class="glyphicon glyphicon-user"></i>
                <a><span>Tenant Administrator</span> <i class="glyphicon glyphicon-menu-down"></i></a>
            </li>
        </ul>
    </div>
</nav>