@import '../../generics.scss';
.menu-nav {
    background-color: $green;
    height: 50px;
    position: absolute;
    padding-left: 0px;
    .glyphicon {
        color: $white;
    }
    .glyphicon-menu-down {
        padding-left: 7px;
        font-size: 13px;
    }
    .menu-hamburger {
        cursor: pointer;
        transition: 0.4s;
        .glyphicon-menu-hamburger {
            font-size: 20px;
            padding: 15px 15px;
        }
        &:hover {
            background-color: $black;
        }
    }
    .menu-icons {
        padding: 15px;
        padding-top: 18px;
        border-left: solid 1px $white;
        height: 50px;
        position: relative;
        transition: 0.4s;
        a {
            padding: 10px;
            color: $white;
            cursor: pointer;
        }
        &:hover {
            background-color: $black;
        }
    }
}